In [ ]:
"""
    Задание 1
    Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
    Определите какому фильму было выставлено больше всего оценок 5.0.
"""

In [1]:
import pandas as pd

In [2]:
# необходимые для задачи данные из датасета
data = pd.read_csv('./ml-20m/ratings.csv', usecols=['movieId','rating'])
data = data[ data['rating'] == 5.0 ]
data.head()

     movieId  rating
131     4993     5.0
142     5952     5.0
158     7153     5.0
170     8507     5.0
176       62     5.0

In [3]:
# количество записей для каждого фильма с рейтингом 5.0
data = data.groupby('movieId', as_index=False).count()
data.head()

   movieId  rating
0        1   12268
1        2    1664
2        3    1154
3        4     184
4        5     876

In [4]:
# вдруг у нескольких фильмов оказался одинаковый рейтинг?
data = data[ data['rating'] == data['rating'].max()]
data.head()

     movieId  rating
315      318   31896

In [5]:
# наименования фильмов для удобства
movies = pd.read_csv('./ml-20m/movies.csv', usecols=['movieId', 'title'], index_col=['movieId'])
result = data.merge(movies, on='movieId', how='left')
result.get(['title'])

                              title
0  Shawshank Redemption, The (1994)

In [ ]:
"""
    Задание 2
    По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
    категорий 4, 12 и 21 за период с 2005 по 2010 года.
    Не учитывайте в расчетах отрицательные значения quantity.
"""

In [28]:
import pandas as pd

In [75]:
countries = ['Latvia', 'Lithuania', 'Estonia']
categories = [4, 12, 21]

data = pd.read_csv('power.csv')
data = data[ (data.country.isin(countries)) & (data.category.isin(categories)) & (data.quantity > 0)]
data[ (data.year >= 2005) & (data.year <= 2010)]
data.quantity.sum()

970728.0

In [ ]:
"""
    Задание 3
    Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
    Примеры страниц (необязательно брать именно эти):
    https://fortrader.org/quotes
    https://www.finanz.ru/valyuty/v-realnom-vremeni
"""

In [203]:
def format_table(x):
    df1 = pd.DataFrame('', index=x.index, columns=x.columns)
    df1.iloc[:, 0] = 'text-align: left; color: #005B81;'
    df1.iloc[:, 1] = 'text-align: left'
    return df1

In [175]:
import pandas as pd

In [176]:
data = pd.read_html('https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html')

In [206]:
print('\n\npandas.DataFrame attributes:')
data[1].style.apply(format_table, axis=None)

pandas.DataFrame attributes:

In [207]:
print('\n\npandas.DataFrame methods:')
data[2].style.apply(format_table, axis=None)

pandas.DataFrame methods: